<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.project.api.v1.follow.mapper.FollowMapper">

	<!-- resultMap -->
    <resultMap id="FollowResultMap" type="com.ssafy.project.api.v1.follow.dto.FollowDto">
        <id     property="followId"   column="follow_id" />
        <result property="followerId" column="follower_id" />
        <result property="followeeId" column="followee_id" />
        <result property="status"     column="status" />
        <result property="createdAt"  column="created_at" />
        <result property="updatedAt"  column="updated_at" />
    </resultMap>
    
    <resultMap id="FollowRequestItemMap"
           type="com.ssafy.project.api.v1.follow.dto.FollowRequestItem">
	    <id     property="requestId" column="request_id" />
	    <result property="userId"    column="user_id" />
	    <result property="nickname"  column="nickname" />
	    <result property="status"    column="status" />
	    <result property="createdAt" column="created_at" />
	</resultMap>

    <select id="selectProfileVisibility"
            parameterType="long"
            resultType="string">
        SELECT profile_visibility
        FROM users
        WHERE user_id = #{targetUserId}
          AND deleted_at IS NULL
    </select>

    <insert id="insertFollow">
        INSERT INTO user_follows (
            follower_id,
            followee_id,
            status
        )
        VALUES (
            #{userId},
            #{targetUserId},
            #{status}
        )
    </insert>

    <select id="selectByPair"
            resultMap="FollowResultMap">
        SELECT
            follow_id,
            follower_id,
            followee_id,
            status,
            created_at,
            updated_at
        FROM user_follows
        WHERE follower_id = #{userId}
          AND followee_id = #{targetUserId}
        LIMIT 1
    </select>
	
	
	<select id="selectIncomingFollowRequests"
        resultMap="FollowRequestItemMap">
	    SELECT
	        uf.follow_id   AS request_id,
	        uf.follower_id AS user_id,
	        u.nickname     AS nickname,
	        uf.status      AS status,
	        uf.created_at  AS created_at
	    FROM user_follows uf
	    JOIN users u ON u.user_id = uf.follower_id
	    WHERE uf.followee_id = #{userId}
	      AND uf.status = 'PENDING'
	      AND u.deleted_at IS NULL
	    ORDER BY uf.created_at DESC
	</select>
	
	
	<select id="selectOutgoingFollowRequests"
        resultMap="FollowRequestItemMap">
	    SELECT
	        uf.follow_id   AS request_id,
	        uf.followee_id AS user_id,
	        u.nickname     AS nickname,
	        uf.status      AS status,
	        uf.created_at  AS created_at
	    FROM user_follows uf
	    JOIN users u ON u.user_id = uf.followee_id
	    WHERE uf.follower_id = #{userId}
	      AND uf.status = 'PENDING'
	      AND u.deleted_at IS NULL
	    ORDER BY uf.created_at DESC
	</select>
	
	<select id="getFollowRequest" resultMap="FollowResultMap">
	    SELECT *
	    FROM user_follows
	    WHERE follow_id = #{requestId}
	    LIMIT 1
	</select>
	
	<update id="updateFollowRequestStatus">
        UPDATE user_follows
        SET status = #{status}
        WHERE follow_id = #{requestId}
        	AND followee_id = #{userId}
         	AND status = 'PENDING'
    </update>
    
    <delete id="deletePendingFollowRequest">
	    DELETE FROM user_follows
	    WHERE follow_id = #{requestId}
	    	AND follower_id = #{userId}
	      	AND status = 'PENDING'
	</delete>
	
	<delete id="deleteAcceptedFollow">
	    DELETE FROM user_follows
	    WHERE follower_id = #{userId}
	      AND followee_id = #{targetUserId}
	      AND status = 'ACCEPTED'
	</delete>
	
	<!-- Block -->		
	<insert id="putBlocked">
	    INSERT INTO user_follows (
	        follower_id,
	        followee_id,
	        status
	    )
	    VALUES (
	        #{userId},
	        #{targetUserId},
	        'BLOCKED'
	    )
	    ON DUPLICATE KEY UPDATE
	        status = 'BLOCKED',
	        updated_at = CURRENT_TIMESTAMP
	</insert>
	
	<delete id="deletePendingOrAccepted">
	    DELETE FROM user_follows
	    WHERE follower_id = #{followerId}
	      AND followee_id = #{followeeId}
	      AND status IN ('PENDING', 'ACCEPTED')
	</delete>
	
	<delete id="deleteBlocked">
	    DELETE FROM user_follows
	    WHERE follower_id = #{userId}
	      AND followee_id = #{targetUserId}
	      AND status = 'BLOCKED'
	</delete>
	
</mapper>