<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.api.v1.challenge.chat.mapper.ChallengeChatMapper">

 <insert id="insertMessage" parameterType="com.ssafy.project.api.v1.challenge.chat.dto.ChallengeChatMessage">
    INSERT INTO challenge_chat_messages (
      challenge_id,
      sender_id,
      sender_nickname,
      content,
      sent_at
    ) VALUES (
      #{challengeId},
      #{senderId},
      #{senderNickname},
      #{content},
      #{sentAt}
    )
  </insert>
  
  <select id="findByChallengeId"
        parameterType="long"
        resultType="com.ssafy.project.api.v1.challenge.chat.dto.ChallengeChatMessage">

	    SELECT
	        challenge_id     AS challengeId,
	        sender_id        AS senderId,
	        sender_nickname  AS senderNickname,
	        content,
	        sent_at          AS sentAt
	    FROM challenge_chat_messages
	    WHERE challenge_id = #{challengeId}
	    ORDER BY sent_at ASC
	
	</select>
  

</mapper>