<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.project.api.v1.user.mapper.UserMapper">
	<!-- resultMap -->
	<resultMap id="UserResultMap" type="com.ssafy.project.api.v1.user.dto.UserDto">
        <id     property="userId"            column="user_id" />
        <result property="loginId"           column="login_id" />
        <result property="email"             column="email" />
        <result property="pwHash"            column="pw_hash" />
        <result property="nickname"          column="nickname" />
        <result property="profileVisibility" column="profile_visibility" />
        <result property="shareLevel"        column="share_level" />
        <result property="timezone"          column="timezone" />
        <result property="monthlyBudget"     column="monthly_budget" />
        <result property="triggerBudget"     column="trigger_budget" />
        <result property="createdAt"         column="created_at" />
        <result property="updatedAt"         column="updated_at" />
        <result property="deletedAt"         column="deleted_at" />
        <result property="role"				 column="role" />
        <result property="name" 			 column="name" />
        <result property="phoneNumber"		 column="phone_number" />
    </resultMap>

	<!-- UserPostItem resultMap -->
	<resultMap id="UserPostItemMap" type="com.ssafy.project.api.v1.user.dto.UserPostItem">
		<id     property="postId"        column="post_id"/>
	    <result property="boardId"       column="board_id"/>
	    <result property="boardName"     column="board_name"/>
	    <result property="title"         column="title"/>
	    <result property="rawContent"    column="content_md"/>
	    <result property="createdAt"     column="created_at"/>
	    <result property="likeCount"     column="likes_count"/>
	    <result property="commentCount"  column="comment_count"/>
	 </resultMap>
		
    <insert id="insertUser"
        parameterType="com.ssafy.project.api.v1.user.dto.UserDto"
        useGeneratedKeys="true"
        keyProperty="userId">

    INSERT INTO users (
        login_id,
        email,
        pw_hash,
        nickname,
        monthly_budget,
        trigger_budget,
        name,
        phone_number,
        profile_visibility
    )
    VALUES (
        #{loginId},
        #{email},
        #{pwHash},
        #{nickname},
        #{monthlyBudget},
        #{triggerBudget},
        #{name},
        #{phoneNumber},
        #{profileVisibility}
    )
	</insert>


    <select id="findByLoginId"
            resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE login_id = #{loginId} AND deleted_at IS NULL
    </select>
	
	
	<select id="findById"
			parameterType="long"
			resultMap="UserResultMap">
		SELECT *
		FROM users
		WHERE user_id = #{userId} AND deleted_at IS NULL
	</select>
	
	<update id="updateUser"
        parameterType="com.ssafy.project.api.v1.user.dto.UserUpdateRequest">
    UPDATE users
    <set>
        <if test="nickname != null">
            nickname = #{nickname},
        </if>

        <if test="email != null">
            email = #{email},
        </if>

        <if test="monthlyBudget != null">
            monthly_budget = #{monthlyBudget},
        </if>

        <if test="triggerBudget != null">
            trigger_budget = #{triggerBudget},
        </if>

        <if test="shareLevel != null">
            share_level = #{shareLevel},
        </if>

        <if test="profileVisibility != null">
            profile_visibility = #{profileVisibility},
        </if>

        <if test="role != null">
            role = #{role},
        </if>

        <if test="name != null">
            name = #{name},
        </if>

        <if test="phoneNumber != null">
            phone_number = #{phoneNumber},
        </if>
    </set>
    WHERE user_id = #{userId}
      AND deleted_at IS NULL
	</update>
	
	<update id="deleteUser" parameterType="long">
	    UPDATE users
	    SET deleted_at = NOW()
	    WHERE user_id = #{userId} AND deleted_at IS NULL
	</update>
	<update id="updatePassword">
	    UPDATE users
	    SET pw_hash = #{pwHash}
	    WHERE user_id = #{userId}
	      AND deleted_at IS NULL
	</update>
	
	<select id="countNickname" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE nickname = #{nickname}
	</select>
	
	<select id="countLoginId" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE login_id = #{loginId}
	</select>
	
	<select id="countEmail" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE email = #{email}
	</select>
	
	<select id="selectUserPostsCursor" resultMap="UserPostItemMap">
	    SELECT
	      p.post_id,
	      p.board_id,
	      b.name AS board_name,
	      p.title,
	      p.content_md,
	      p.created_at,
	      p.likes_count,
	      COALESCE(c.comment_count, 0) AS comment_count
	    FROM posts p
	    JOIN boards b ON b.board_id = p.board_id
	    LEFT JOIN (
	      SELECT post_id, COUNT(*) AS comment_count
	      FROM comments
	      WHERE deleted_at IS NULL
	      GROUP BY post_id
	    ) c ON c.post_id = p.post_id
	    WHERE p.deleted_at IS NULL
	      AND p.user_id = #{userId}
	
	      <!-- cursor가 있을 때만 적용 -->
	      <if test="cursorCreatedAt != null and cursorPostId != null">
	        AND (
	          p.created_at &lt; #{cursorCreatedAt}
	          OR (p.created_at = #{cursorCreatedAt} AND p.post_id &lt; #{cursorPostId})
	        )
	      </if>
	
	    ORDER BY p.created_at DESC, p.post_id DESC
	    LIMIT #{limit}
	  </select>
	  <select id="countUserPosts" resultType="long">
	  	SELECT COUNT(*)
		FROM posts p
		WHERE p.deleted_at IS NULL
		AND p.user_id = #{userId}
	  </select>
	  
</mapper>
