<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.project.api.v1.user.mapper.UserMapper">
	<!-- resultMap -->
	<resultMap id="UserResultMap" type="com.ssafy.project.api.v1.user.dto.UserDto">
        <id     property="userId"            column="user_id" />
        <result property="loginId"           column="login_id" />
        <result property="email"             column="email" />
        <result property="pwHash"            column="pw_hash" />
        <result property="nickname"          column="nickname" />
        <result property="profileVisibility" column="profile_visibility" />
        <result property="shareLevel"        column="share_level" />
        <result property="timezone"          column="timezone" />
        <result property="monthlyBudget"     column="monthly_budget" />
        <result property="triggerBudget"     column="trigger_budget" />
        <result property="createdAt"         column="created_at" />
        <result property="updatedAt"         column="updated_at" />
        <result property="deletedAt"         column="deleted_at" />
        <result property="role"				 column="role" />
        <result property="name" 			 column="name" />
        <result property="phoneNumber"		 column="phone_number" />
    </resultMap>


    <insert id="insertUser"
        parameterType="com.ssafy.project.api.v1.user.dto.UserDto"
        useGeneratedKeys="true"
        keyProperty="userId">

    INSERT INTO users (
        login_id,
        email,
        pw_hash,
        nickname,
        monthly_budget,
        trigger_budget,
        name,
        phone_number,
        profile_visibility
    )
    VALUES (
        #{loginId},
        #{email},
        #{pwHash},
        #{nickname},
        #{monthlyBudget},
        #{triggerBudget},
        #{name},
        #{phoneNumber},
        #{profileVisibility}
    )
	</insert>


    <select id="findByLoginId"
            resultMap="UserResultMap">
        SELECT *
        FROM users
        WHERE login_id = #{loginId} AND deleted_at IS NULL
    </select>
	
	
	<select id="findById"
			parameterType="long"
			resultMap="UserResultMap">
		SELECT *
		FROM users
		WHERE user_id = #{userId} AND deleted_at IS NULL
	</select>
	
	<update id="updateUser"
        parameterType="com.ssafy.project.api.v1.user.dto.UserUpdateRequest">
    UPDATE users
    <set>
        <if test="nickname != null">
            nickname = #{nickname},
        </if>

        <if test="email != null">
            email = #{email},
        </if>

        <if test="monthlyBudget != null">
            monthly_budget = #{monthlyBudget},
        </if>

        <if test="triggerBudget != null">
            trigger_budget = #{triggerBudget},
        </if>

        <if test="shareLevel != null">
            share_level = #{shareLevel},
        </if>

        <if test="profileVisibility != null">
            profile_visibility = #{profileVisibility},
        </if>

        <if test="role != null">
            role = #{role},
        </if>

        <if test="name != null">
            name = #{name},
        </if>

        <if test="phoneNumber != null">
            phone_number = #{phoneNumber},
        </if>
    </set>
    WHERE user_id = #{userId}
      AND deleted_at IS NULL
	</update>
	
	<update id="deleteUser" parameterType="long">
	    UPDATE users
	    SET deleted_at = NOW()
	    WHERE user_id = #{userId} AND deleted_at IS NULL
	</update>
	<update id="updatePassword">
	    UPDATE users
	    SET pw_hash = #{pwHash}
	    WHERE user_id = #{userId}
	      AND deleted_at IS NULL
	</update>
	
	<select id="countNickname" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE nickname = #{nickname}
	</select>
	
	<select id="countLoginId" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE login_id = #{loginId}
	</select>
</mapper>
